<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
   <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   <link rel="shortcut icon" href="../static/favicon.png" type="image/png">

   <title></title>
</head>

<body>
   <!--==================== HEADER ====================-->
   <header class="header" id="header">
      <nav class="nav container">
         <a href="#" class="nav__logo">Logo</a>

         <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
               <li class="nav__item">
                  <a href="#" class="nav__link">Home</a>
               </li>

               <li class="nav__item">
                  <a href="#" class="nav__link">About Us</a>
               </li>

               <li class="nav__item">
                  <a href="#" class="nav__link">Services</a>
               </li>

               <li class="nav__item">
                  <a href="#" class="nav__link">Featured</a>
               </li>

               <li class="nav__item">
                  <a href="#" class="nav__link">Contact Me</a>
               </li>
            </ul>

            <!-- Close button -->
            <div class="nav__close" id="nav-close">
               <i class="ri-close-line"></i>
            </div>
         </div>

         <div class="nav__actions">
            <!-- Search button -->
            <i class="ri-search-line nav__search" id="search-btn"></i>

            <!-- Login button -->
            <i class="ri-user-line nav__login" id="login-btn"></i>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-menu-line"></i>
            </div>
         </div>
      </nav>
   </header>

   <!--==================== SEARCH ====================-->
   <div class="search" id="search">
      <form action="" class="search__form">
         <i class="ri-search-line search__icon"></i>
         <input type="search" placeholder="What are you looking for?" class="search__input">
      </form>

      <i class="ri-close-line search__close" id="search-close"></i>
   </div>

   <!--==================== LOGIN ====================-->
   <div class="login" id="login">
      <form action="" class="login__form">
         <h2 class="login__title">Log In</h2>

         <div class="login__group">
            <div>
               <label for="email" class="login__label">Email</label>
               <input type="email" placeholder="Write your email" id="email" class="login__input">
            </div>

            <div>
               <label for="password" class="login__label">Password</label>
               <input type="password" placeholder="Enter your password" id="password" class="login__input">
            </div>
         </div>

         <div>
            <p class="login__signup">
               You do not have an account? <a href="#">Sign up</a>
            </p>

            <a href="#" class="login__forgot">
               You forgot your password
            </a>

            <button type="submit" class="login__button">Log In</button>
         </div>
      </form>

      <i class="ri-close-line login__close" id="login-close"></i>
   </div>



   <div class="main-container">

      <div class="dashboard">
         <!-- Left Column -->
         <div class="column">
            <div class="card" style="width: 300pxpx;">
               <h3>Left Slit-View</h3>
               <div class="image">
                  <div class="image-box">Input Image</div>
                  <div class="image-box">Output Image</div>
               </div>
            </div>

            <div class="card">
               <h3>Right Slit-View</h3>
               <div class="image">
                  <div class="image-box">Input Image</div>
                  <div class="image-box">Output Image</div>
               </div>
            </div>

            <div class="card">
               <h3>Recipe Check</h3>
               <div class="image">
                  <div class="image-box">Input Image</div>
                  <div class="image-box">Output Image</div>
               </div>
            </div>
         </div>

         <!-- First Right Column -->
         <div class="column">
            <div class="card" id="status1">
               <h3 style="margin-top: -5px;">Left Slit Result</h3>
               <div class="circle"></div>
            </div>

            <div class="card" id="status1">
               <h3 style="margin-top: -5px;">Right Slit Result</h3>
               <div class="circle"></div>
            </div>

            <div class="card" id="status1">
               <h3 style="margin-top: -5px;">Recipe Slit Result</h3>
               <div class="circle"></div>
            </div>
         </div>

         <!-- Second Right Column (Repeated) -->
         <div class="column">
            <div class="card" id="status2">
               <h3 class="dHead" style="margin-top: -3px;">Left Defects</h3>
               <div class="status-indicator">
                  <div class="status ok"></div> IncompleteSlip
               </div>
               <div class="status-indicator">
                  <div class="status nok"></div> Missing color
               </div>
            </div>

            <div class="card" id="status2">
               <h3 class="dHead" style="margin-top: -3px;">Right Defects</h3>
               <div class="status-indicator">
                  <div class="status ok"></div> Incompleteslip
               </div>
               <div class="status-indicator">
                  <div class="status nok"></div> Missing color
               </div>
            </div>

            <div class="card" id="status2">
               <h3 class="dHead" style="margin-top: -3px;">Recipe Defects</h3>
               <div class="status-indicator">
                  <div class="status ok"></div> RecipeMismatch
               </div>
            </div>
         </div>
      </div>


      <div class="container1">
         <div class="section">
            <h3 style="margin-bottom: 0; margin-top: -5px;">Main Menu</h3>


            <div class="section grid status3">
               <h3>Status</h3>
               <div class="item">
                  Camera - 1
                  <div class="circle1"></div>
               </div>
               <div class="item">
                  Camera - 2
                  <div class="circle1"></div>
               </div>
               <div class="item">
                  Camera - 3
                  <div class="circle1"></div>
               </div>
               <div class="item">
                  Controller: Status
                  <div class="circle2"></div>
               </div>
            </div>


            <div class="ui-container">
               <!-- Part Selection -->
               <div class="ui-box" id="ui-box1">
                  <h3>Part Selection</h3>
                  <div class="ui-form-group" id="part-selection-ui">
                     <label class="ui-label" for="part-name">Part Name:</label>
                     <select class="ui-select" id="part-name">
                        <option value="">-Select-</option>
                        <option value="">435155</option>
                     </select>
                     <button class="start-btn">Start</button>
                  </div>
                  <div class="ui-form-group" id="sub-part-selection">
                     <label class="ui-label" for="sub-part-name">Sub-Part Name:</label>
                     <select class="ui-select" id="sub-part-name">
                        <option value="">-Select-</option>
                        <option value="">456565</option>
                        <!-- Add options here -->
                     </select>
                     <button class="stop-btn">Stop</button>
                  </div>
               </div>

               <!-- Parts Counter -->
               <div class="ui-box" id="ui-box2">
                  <h3>Parts Counter</h3>
                  <div class="ui-counter" style="margin-top: 14px;">
                     <div> <label class="ui-counter-label" for="total-parts" style="margin-left: 5px;">Total
                           Parts:</label>
                        <input class="ui-counter-input" type="text" id="total-parts" style="height: 25px;" readonly><br>
                     </div>
                     <div><label class="ui-counter-label" for="total-boxes">Total Boxes:</label>
                        <input class="ui-counter-input" type="text" id="total-boxes" style="height: 25px;" readonly>
                     </div>


                  </div>
               </div>
            </div>


            <div class="ui-container" id="box-status" style="height: 125px;">
               <!-- Part Selection -->
               <div class="ui-box" id="ui-box1">
                  <h3>Detection Counter</h3>
                  <div class="dectection-item">
                     <label style="color: green;">Ok<input type="text" class="dectect-in" readonly></label>
                     <label style="color: red;">NOk<input type="text" class="dectect-in" readonly></label>
                     <label>Total<input type="text" class="dectect-in" readonly></label>
                  </div>

               </div>

               <div class="ui-box" id="ui-box2">
                  <h3>Current Box</h3>
                  <div class="ui-counter" id="current-box">
                     <div> <label class="ui-counter-label" for="total-parts"
                           style="margin-right: 6px; margin-left: 26px;">Box No:</label>
                        <input class="ui-counter-input" type="text" id="box-no" readonly><br>
                     </div>
                     <div><label class="ui-counter-label" for="total-boxes">Box Quatity:</label>
                        <input class="ui-counter-input" type="text" id="box-quantity" readonly>
                     </div>


                  </div>
               </div>
            </div>

            <div class="section status3" style="margin-top: 10px;">
               <h3 style="margin-bottom: -5px;
                  border-bottom: 2px solid;
                  padding-bottom: 5px;
                  margin-bottom: 5px;">Defect Counter</h3>
               <div class="defect-counter">
                  <div class="defect-slit">
                     <fieldset style="border: 2px dashed ; border-radius: 3px; height: 100px;">
                        <legend style=" margin-left: 10px;">Slit</legend>
                     </fieldset>
                  </div>
                  <div class="defect-recipe">
                     <fieldset style="border: 2px dashed ; border-radius: 3px; height: 100px;">
                        <legend style=" margin-left: 10px;">Recipe Check</legend>
                     </fieldset>
                  </div>
               </div>
            </div>

            <div class="ui-container" id="error-box" style="height: 105px;">
               <!-- Part Selection -->
               <div class="ui-box" id="ui-box1" style="flex-basis: 450px;">
                  <h3>Error</h3>
                  <div>
                     <input type="text" id="unique-error-input-id-1" readonly
                        style="border: 1px solid #ccc; border-radius: 3px; width: 100%; margin-top: 5px;">
                  </div>

               </div>

               <div class="ui-box" id="ui-box2" style="flex-basis: 160px;">
                  <h3>Push in Bin</h3>
                  <div class="bin-icons-q101" style="display: flex; justify-content: space-between;">
                     <div class="circle2" style="margin: 0; width: 30px; height: 30px;"></div>
                     <div class="circle2" style="margin: 0; width: 30px; height: 30px;"></div>
                     <div class="circle2" style="margin: 0; width: 30px; height: 30px;"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


            <!--=============== MAIN JS ===============-->
            <script src="../static/index.js"></script>
</body>

</html>